@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-brand: #7c3aed;
  --color-brand-light: #a78bfa;
  --color-brand-dark: #6d28d9;

  --color-ink: #020617;
  --color-muted: #64748b;
  --color-surface: #f8fafc;
  --color-dark-blue: #050c2b;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #020617;
  font-family:
    "Inter",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a,
link {
  color: inherit;
  text-decoration: none;
  font:inherit;
}

.link {
  color: #020617;
  
}
.button{
  color: #ffffff;
}

button,
input,
textarea,
select {
  font: inherit;
}

::selection {
  background: #ddd6fe;
  color: #4c1d95;
}



